<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <mat-header-cell style="font-size: 15px;font-weight: 700;" *matHeaderCellDef> User Name </mat-header-cell>
      <mat-cell *matCellDef="let tweet"> {{tweet.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tweetText">
      <mat-header-cell style="font-size: 15px;font-weight: 700;" *matHeaderCellDef> Tweet Text </mat-header-cell>
      <mat-cell *matCellDef="let tweet"> {{tweet.tweetText}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="retweets">
      <mat-header-cell style="font-size: 15px;font-weight: 700;" *matHeaderCellDef> Number of retweets </mat-header-cell>
      <mat-cell *matCellDef="let tweet"> {{tweet.retweets}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="favorites">
      <mat-header-cell style="font-size: 15px;font-weight: 700;" *matHeaderCellDef> Number of favorites </mat-header-cell>
      <mat-cell *matCellDef="let tweet"> {{tweet.favorites}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="tweetURL">
      <mat-header-cell style="font-size: 15px;font-weight: 700;" *matHeaderCellDef> Tweet URL </mat-header-cell>
      <mat-cell *matCellDef="let tweet" ><a href="{{tweet.tweetURL}}" target="_blank">View Tweet</a>  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="createdat">
      <mat-header-cell style="font-size: 15px;font-weight: 700;" *matHeaderCellDef> Created at </mat-header-cell>
      <mat-cell *matCellDef="let tweet">{{tweet.createdat}}  </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>